body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    font-size: 8vh;
    height: 10vh;
    background-color: rgb(128, 128, 128);
}

#main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
}

.logo{
    border-radius: 50%;
    object-fit: cover;
    height: 8vh;
    width: auto;
    margin: 1vh 2vw;
}

.icon {
    border-radius: 50%;
    object-fit: cover;
    height: 6vh;
    width: auto;
    margin: 2vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50vw;
}

#message-container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-height: 50vh;
    max-height: 50vh;
    min-width: 80vw;
    text-align: center;
    overflow-y: auto;
}

#chat form {
    height: 20vh;
    width: 80vw;
    background-color: white;
    margin: 20px 0
}

#chat input {
    height: 40px;
    width: 90%;
    font-size: 20px;
    margin: 10px 0;
    border: 1px solid blue;
}

#chat button{
    min-width: 200px;
    min-height: 30px;
}

.user {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 10px;
    color: black;
}

.user-message-box {
    align-self: flex-end;
    display: inline-block;
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 36px;
    line-height: 1.2;
    min-width: 10%;
    max-width: 48%;
    word-wrap: break-word;
}

.other-message-box {
    align-self: flex-start;
    display: inline-block;
    padding: 10px;
    background-color: skyblue;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 36px;
    line-height: 1.2;
    min-width: 10%;
    max-width: 50%;
    word-wrap: break-word;
}

.user-message {
    text-align: left;
    color: white;
    display: block;
    width: 40vw;
}

.other-message {
    margin: 0px;
    text-align: left;
    color: white;
    display: block;
    width: 40vw;
}

#profile-container {
    font-size: 30px;
    text-align: center;
    height: 90vh;
}

#profile-container form{
    width: 300px;
    height: 80vh;
}

#profile-container input{
    height: 30px;
    width: 250px;
    font-size: 0.5em;
}

#profile-container label{
    font-size: 0.5em;
    margin: 10px 0px 0 0px;
}

.course-tag{
    margin: 0;
    color: blue;
    margin: 5px;
}

select{
    width: 150px;
}

#course-container *{
    
    font-size: 15px;
}

#courses{
    visibility: hidden;
}

h2{
    margin: 10px;
}

@media(max-width: 600px){
    header{
        color: red;
        font-size: 0px;
    }

    #main-navigation {
        flex: 1;
    }
}
