/*The css file of the login page*/
body {
    margin: 0;
    background-color: rgb(230, 230, 250);
    display: flex;
    justify-content: center;
}

section{
    font-size: 40px;
    text-align: center;
    height: 80vh;
    margin: 10vh 0 0 0
}

form{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: white;
}

input{
    height: 5vh;
    width: auto;
    font-size: 20px;
    margin: 40px 40px 0;
    border: 1px solid blue;
}

.login-button{
    height: 50px;
    font-size: 20px;
    margin: 40px 40px 0;
    background-color: blue;
    color: white;
}

a {
    font-size: 20px;
    color: black;
    margin: 20px;
}
